body {
	margin: 1rem;
	padding: 1rem;
}

.root-header {
	text-align: center;
	margin: 1rem;
	padding: 1rem;
}

.root-header > span {
	font-size: 2rem;
	margin: 1rem;
	padding: 1rem;
}

.root-footer {
	text-align: center;
}

.root-footer > span {
	display: block;
}

.album {
	text-align: center;
}

.album-head {
	font-size: 3rem;
}

.image {
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	height: 100%;
	width: 250px;
}

.image-block > button {
	display: inline;
	margin: 0.2rem;
}

.image-appear {
	opacity: 0.01;
}

.image-appear.image-appear-active {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
