body,
.at-field {
	margin: 1rem;
	padding: 1rem;
}

.album-body {
	text-align: center;
}

.image-appear {
	opacity: 0.01;
}

.image-appear.image-appear-active {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}

.image-card {
	display: inline-block;
	width: 300px;
}
