body,
.at-field {
	margin: 1rem;
	padding: 1rem;
}

.album-body {
	text-align: center;
}

.album-image-appear {
	opacity: 0.01;
}

.album-image-appear.album-image-appear-active {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.image-card {
	display: inline-block;
	width: 300px;
}
